{% extends "base.html.twig" %}


{% block title %}
    test 
{% endblock %}

{% block body %}
  <!--création de la connexion-->

	<!--
	    <section class="container connect">
	        <div class="connect-content row">
	            
	            <div class="box-c-r">
	                <div class="title-connect">
	                    <h4>Connexion</h4>
	                </div>
	                <form action="">
	                <div class="content-input">
	                    <div><i class='bx bx-envelope'></i></div><input  type="email" name="" class="mail-icon" placeholder="example@gmail.com">
	                </div>
	                <div class="content-input">
	                    <div><i class='bx bx-lock' ></i></div>
	                    <input type="password" placeholder="mot de passe">    
	                </div>
	                <div class="content-input">
	                    <div><i class='bx bx-lock'></i></div>
	                    <input type="password" placeholder="confirmation mot de passe">     
	                </div>    
	                <div>
	                    <input class="btn-orange" type="submit" value="connexion">
	                </div>
	                </form>
	
	                <div class="logo"><h5>FrinkiShop</h5></div>
	            </div>
	        </div>
	    </section>
	    -->

{% endblock %}

  {% block stylesheets %}
            {{ encore_entry_link_tags('home') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('home') }}
        {% endblock %}