	<!--footer-->
		<footer>
			<div class="container"> <nav>
				<div class="">
					<h4>Liens tiles</h4>
					<ul>
						<li><a href="">test</a></li>
						<li><a href="">test</a></li>
						<li><a href="">test</a></li>
					</ul>
				</div>
				<div class="">
					<h4>Menu</h4>
					<ul>
						<li><a href="">test</a></li>
						<li><a href="">test</a></li>
						<li><a href="">test</a></li>
						<li><a href="">test</a></li>
					</ul>
				</div>
				<div class="">
					<h4>Informations</h4>
					<ul>
						<li><a href="">test</a></li>
						<li><a href="">test</a></li>
						<li><a href="">test</a></li>
						<li><a href="">test</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="info-legal">
			<p>&COPY;2022 Création Wetterene Rémy</p>
			<a href="condition">Condition générale utilisateur</a>
		</div>
	</footer>