$banner-height:calc(100vh);
%banner{
    width: 100%;
    height: auto;
    z-index: 2;
    position: relative;
    display: flex;
}
.banner{
    align-items: center;
    justify-content: center;
    min-height: $banner-height;
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.109);
    @extend %banner;
    @include  background-html();
    h1{
        color:$white;
        text-shadow: 10px 10px  10px $shadow-orange;
        span{
            display: block;
            padding-left:17rem;
            color:$orange;
        }
    }
}
.banner-middle{
    @extend %banner;
    @include background($blue-mat);
    min-height: auto; 
}
